<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--*** 인터페이스 이름(com.plant.mapper.MemberMapper)과 xml의 namespace 속성값이 일치해야함 ****-->
<mapper namespace="com.plant.mapper.DictionaryMapper">

	<!--사전 관련-->

	<select id="getKname" resultType="com.plant.dto.Dictionary"> <!--인터페이스 메소드 이름-->
	<!-- ***반드시 dto.Member 에 있는 필드와 프로시저에서 던지는 필드 값이 일치해야!*** -->
		select * from dictionary where seqno = #{seqno} <!--sql 문의 ? 물음표와 같은 것 -->
	</select>

	<select id="dictionList" resultType="com.plant.dto.DictionaryVO">
		<![CDATA[
		     SELECT * FROM
		     (
		        SELECT rownum as rn, z.*
		        FROM
		            (
		            SELECT a.filetype, t.filename as thumbfilename, t.filesize as thumbfilesize, t.filepath as thumbfilepath, a.kname, a.ename, a.seqno
		            FROM
		                (
		                SELECT /*+INDEX(dictionary PK_DICTIONARY) */
		                	   di.dicimg_seqno, di.type as filetype, d.kname, d.ename, d.seqno
		                FROM dictionary_img di, dictionary d
		                WHERE d.seqno = di.seqno
		                ) a, dictionary_img_thumb t
		            WHERE a.dicimg_seqno = t.dicimg_seqno
		            ) z
		        WHERE rownum <= ${cri.currentPage}*${cri.rowPerpage} 
		        )
		    WHERE rn > (${cri.currentPage}-1)*${cri.rowPerpage}
		 ]]>
			<if test="cri.searchField == 'kname'">
		        AND kname LIKE '%' || #{cri.searchText} || '%'
		   </if> 
		   <if test="cri.searchField == 'ename'">
				AND ename LIKE '%' || #{cri.searchText} || '%'
			</if> 
	</select>
	 
	<select id="dictionInList" resultType="com.plant.dto.DictionaryVO">
		<![CDATA[
		     SELECT * FROM
		     (
		        SELECT rownum as rn, z.*
		        FROM
		            (
		            SELECT a.filetype, t.filename as thumbfilename, t.filesize as thumbfilesize, t.filepath as thumbfilepath, a.kname, a.ename, a.seqno
		            FROM
		                (
		                SELECT /*+INDEX(dictionary PK_DICTIONARY) */
		                	   di.dicimg_seqno, di.type as filetype, d.kname, d.ename, d.seqno
		                FROM dictionary_img di, dictionary d
		                WHERE d.seqno = di.seqno
		            	AND lcate = '실내용'
		                ) a, dictionary_img_thumb t
		            WHERE a.dicimg_seqno = t.dicimg_seqno
		            ) z
		        WHERE rownum <= ${cri.currentPage}*${cri.rowPerpage} 
		        )
		    WHERE rn > (${cri.currentPage}-1)*${cri.rowPerpage}
		 ]]>
			<if test="cri.searchField == 'kname'">
		        AND kname LIKE '%' || #{cri.searchText} || '%'
		   </if> 
		   <if test="cri.searchField == 'ename'">
				AND ename LIKE '%' || #{cri.searchText} || '%'
			</if> 
	</select>
	
	<select id="dictionOutList" resultType="com.plant.dto.DictionaryVO">
		<![CDATA[
		     SELECT * FROM
		     (
		        SELECT rownum as rn, z.*
		        FROM
		            (
		            SELECT a.filetype, t.filename as thumbfilename, t.filesize as thumbfilesize, t.filepath as thumbfilepath, a.kname, a.ename, a.seqno
		            FROM
		                (
		                SELECT /*+INDEX(dictionary PK_DICTIONARY) */
		                	   di.dicimg_seqno, di.type as filetype, d.kname, d.ename, d.seqno
		                FROM dictionary_img di, dictionary d
		                WHERE d.seqno = di.seqno
		            	AND lcate = '야외용'
		                ) a, dictionary_img_thumb t
		            WHERE a.dicimg_seqno = t.dicimg_seqno
		            ) z
		        WHERE rownum <= ${cri.currentPage}*${cri.rowPerpage} 
		        )
		    WHERE rn > (${cri.currentPage}-1)*${cri.rowPerpage}
		 ]]>
			<if test="cri.searchField == 'kname'">
		        AND kname LIKE '%' || #{cri.searchText} || '%'
		   </if> 
		   <if test="cri.searchField == 'ename'">
				AND ename LIKE '%' || #{cri.searchText} || '%'
			</if> 	
	</select>

	<select id="dictionDetail" resultType="com.plant.dto.DictionaryVO">
	    SELECT d.seqno, d.kname, d.ename, d.lcate, d.water, d.place, d.temp, d.moist, d.etc,
	    	   (select code_name from cate_code c where c.code_val = d.cate) as cate,
	    	   di.type as filetype, di.savefile as savefilename
	    FROM dictionary d, dictionary_img di
	    WHERE d.seqno = #{seqno}
	    AND di.seqno = d.seqno
	</select> 
	
	<insert id="dictionInsert" parameterType="com.plant.dto.DictionaryVO">
	BEGIN
	    INSERT INTO dictionary(seqno, kname, ename, lcate, water, place, temp, moist, etc, cate)
	    VALUES (dictionary_seqno.NEXTVAL, #{kname}, #{ename}, #{lcate}, #{water}, 
	            #{place}, #{temp}, #{moist}, #{etc}, #{cate});

    	<if test="dicimg != null">
		    INSERT INTO dictionary_img(dicimg_seqno, uploadfile, savefile, filesize, type, location, seqno)
		    VALUES (dictionary_img_seqno.NEXTVAL, #{filename}, #{savefilename}, #{filesize},
		            #{filetype}, #{filepath}, #{seqno});
		</if>
	
		 <if test="dicthumb != null">
			INSERT INTO dictionary_img_thumb(no, filename, filesize, filepath, dicimg_seqno)
			VALUES (dicimg_thumb_seq.NEXTVAL, #{fileName},
			        #{fileSize}, #{filePath}, #{no});
		</if>
	END
	</insert>
	
	<update id="dictionUpdate">
		UPDATE dictionary 
		SET kname = #{kname},
		  	ename = #{ename},
		  	lcate = #{lcate},
		  	water = #{water},
		  	place = #{place},
		  	temp = #{temp},
		  	moist = #{moist},
		  	etc = #{etc},
		  	edit = sysdate,
		  	cate = #{cate} 
		WHERE seqno = #{seqno}
	</update>
	
	<delete id="dictionDelete">
	BEGIN
		DELETE FROM dictionary_img_thumb WHERE dicimg_seqno = #{dicimg_seqno};
		DELETE FROM dictionary_img WHERE dicimg_seqno = #{seqno};
		DELETE FROM dictionary WHERE seqno = #{seqno};
	END
	</delete>





		<!--회원 식물 관련 -->
		
	<select id="mplantList" resultType="com.plant.dto.MplantVO">
		<![CDATA[
		     SELECT * 
		     FROM
		        (
		        SELECT rownum as rn, z.*
		        FROM
		            (
		            SELECT	/*+INDEX(mplant PK_MPLANT) */ 
		            		a.filetype, mpt.filename as thumbfilename, mpt.filesize as thumbfilesize, mpt.filepath as thumbfilepath, a.name, a.mplant_seqno
		            FROM
		                (
		                SELECT mpi.mpi_seqno, mpi.uploadfile as filename, mpi.savefile as savefilename, mpi.filesize as filesize, mpi.type as filetype, mpi.location as filepath,
		                	   mp.name, mp.mplant_seqno
		                FROM mplant_img mpi, mplant mp
		                WHERE mp.mplant_seqno = mpi.mplant_seqno
		                ) a, mplant_img_thumb mpt
		            WHERE a.mpi_seqno = mpt.mpi_seqno
		            ) z
		        WHERE rownum <= ${cri.currentPage} * ${cri.rowPerPage} 
		        )
		    WHERE rn > (${cri.currentPage}-1) * ${cri.rowPerPage}
		]]>	
		    <if test="cri.searchText != null">
		        AND name LIKE '%' || #{cri.searchText} || '%'
		    </if> 
	</select>
	
	
	<select id="mplantDetail" resultType="com.plant.dto.MplantVO">
        SELECT (select code_name from cate_code c where c.code_val = m.cate) as cate,
				m.mplant_seqno, m.name, m.water, m.place, 
				m.temp, m.moist, m.etc, m.plevel, m.id,
				mpi.uploadfile as filename, mpi.location as filepath,
				mpi.filesize as filesize, mpi.savefile as savefilename, 
				mpi.type as filetype,
				mit.filename as thumbfilename
        FROM mplant m, mplant_img mpi, mplant_img_thumb mit
        WHERE m.mplant_seqno = #{mplant_seqno}
        AND mpi.mplant_seqno = m.mplant_seqno
        and mit.mpi_seqno = mpi.mpi_seqno

	</select>
	
	<insert id="mplantInsert">
	DECLARE
		v_seqno number;
		v_img_seqno number;
	BEGIN
	
		select mpla_seqno.NEXTVAL into v_seqno from dual;
		
	    INSERT INTO mplant(
	    mplant_seqno, name, water, place, temp, moist, etc, cate, plevel, id)
	    VALUES (v_seqno, #{name}, #{water}, #{place}, #{temp}, 
	            #{moist}, #{etc}, #{cate}, #{plevel}, #{id});

		select MPLANT_IMG_SEQNO.NEXTVAL into v_img_seqno from dual;
		
	    INSERT INTO mplant_img(MPI_SEQNO, uploadfile, savefile, filesize, type, location, MPLANT_SEQNO)
	    VALUES (v_img_seqno, #{filename}, #{savefilename}, #{filesize},
	            #{filetype}, #{filepath}, v_seqno);

		INSERT INTO mplant_img_thumb(no, filename, filesize, filepath, MPI_SEQNO)
	    VALUES (MPLANT_THUMB_SEQ.NEXTVAL,
	            #{thumbfilename}, #{thumbfilesize}, #{thumbfilepath}, v_img_seqno);
	END;
	</insert>
<!-- 		<selectKey keyProperty="mplant_seqno" resultType="String" order="BEFORE">
			
		</selectKey> -->
	
	<update id="mplantUpdate">
		UPDATE mplant
		SET name = #{name},
		  	water = #{water},
		  	place = #{place},
		  	temp = #{temp},
		  	moist = #{moist},
		  	edit = sysdate,
		  	etc = #{etc},
		  	cate = #{cate},
		  	plevel = #{plevel}
		WHERE mplant_seqno = #{mplant_seqno}	
	</update>
	
	<delete id="mplantDelete">
	BEGIN
		DELETE FROM mplant_img_thumb WHERE mpi_seqno = #{mpi_seqno};
		DELETE FROM mplant_img WHERE mpi_seqno = #{mplant_seqno};
		DELETE FROM mplant WHERE mplant_seqno = #{mplant_seqno};
	END;
	</delete>
</mapper>