@charset "UTF-8";
.textcenter{
	align-content: center;
	text-align: center;
}
.textcenter{
	margin: 50px 0px;
}
.pwlost{
  text-align: center;
  width:50%;
  border-radius: 15px;
  margin: 0px 0px 100px 471px;
  margin-top:100;
/* 	  width:400px;
  height:574px;
  position:relative;
  background-color:#FFFFFF;
  transform: translate(0%,-60%);
  border-radius: 15px;
  margin:-150px 0px 500px -200px;
  top:56%;
  left:50%;
  padding:5px;
  align-content: center; */
}
.find-pw-cert h2 {
  text-align: center;
  margin: 30px;
}

.textForm {
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
  align-content: center;
  text-align:right;
}


.id {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.id2 {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pwlostname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.pwlostemail {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.email {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}




.nickname {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}

.cellphoneNo {
  width: 100%;
  border:none;
  outline:none;
  color: #636e72;
  font-size:16px;
  height:25px;
  background: none;
}
.ipin{
margin: 7px 0px 55px 0px;
}
.btn {
  position:relative;
  left:50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width:80%;
  height:40px;
  background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  border:none;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}

.btn:hover {
  background-position: right;
}